*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #CEE3F6;
    -webkit-transform: translateZ(0);
}

#bg
{
    margin: 0 auto;
    display: block;
    width: 800px;
    height: 600px;
    background: #4b4b4b url("../assets/transparentbg.png");
    background-position: -100px -100px;
}

canvas
{
    background: url("../assets/transparentbg2.png");
    background-position: -100px -100px;
}

#losescreen
{   
    position: relative;
    top: 0;
    text-align: center;
    display: block;
    width: 800px;
    height: 600px;
    background-color: rgba(1,1,1,0.6);
}

h1
{
    display: block;
    width: 500px;
    height: 71px;
    margin: 20px auto;
    background-image: url("../assets/logosmall.png");
}
