*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #CEE3F6;
    -webkit-transform: translateZ(0);
}

canvas
{
    margin: 0 auto;
    display: block;
    width: 800px;
    height: 600px;
    background: #4b4b4b, url("../assets/transparentbg.png"), url("../assets/transparentbg2.png");
    background-position: -100px, -200px;
}

h1
{
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
