<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>2D Multiplayer Physics Playground</title>
    <link rel="stylesheet" href="stylesheets/demo.css">
    <script src="javascripts/raphael.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="javascripts/requestAnimationFrame.js"></script>
    <script src="javascripts/main.js"></script>
  </head>
  <body>
    <header>
      <h1>2D Multiplayer Physics Playground</h1>
      <p>Try dragging the boxes. Ask a friend to join you via another computer.</p>
    </header>
    <div id="holder"></div>
    <div id="stats"></div>
    <footer>
      Stefan Hedman, UMIT Research Lab
    </footer>
  </body>
</html>
